{% extends 'admin.html'%}

{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block admin %}

<div class="home_content">
    <div class="text">Add Details</div>
</div>

<div class="studentdetails">
    <form method="post" action="">
        {% csrf_token %}
        <div class="container container_css" style="width: 650px;">
            <br>
            <div class="form-group fname">
                <label><b>Name</b></label>
                <input type="text" class="form-control" style="width: 270px;" name="name" required>
            </div>
            <div class="form-group mobile">
                <label><b>Phone</b></label>
                <input type="number" class="form-control" style="width: 270px;" name="phone" required>
            </div>
            <div class="form-group mobile">
                <label><b>Age</b></label>
                <input type="number" class="form-control" style="width: 270px;" name="age" required>
            </div>
            <div class="form-group add">
                <label><b>Address</b></label>
                <input type="text" class="form-control" style="width: 580px;" name="address" required>
            </div>
            <div class="group">
                <label><b>Gender</b></label>
            </div>
            <div class="form-check one">
                <input class="form-check-input" type="radio" name="gender" value="Male" required>
                <label class="form-check-label">Male</label>
            </div>
            <div class="form-check two">
                <input class="form-check-input" type="radio" name="gender" value="Female" required>
                <label class="form-check-label">Female</label>
            </div>
            <div class="form-check three" >
                <input class="form-check-input" type="radio" name="gender" value="Other" required>
                <label class="form-check-label">Other</label>
            </div>
            <div class="form-group im">
                <label><b>Profile Image</b></label>
                <input type="file" class="form-control" style="width: 270px; height:44px" name="img " required>
            </div>
            <div class="form-group email">
                <label><b>Email</b></label>
                <input type="text" class="form-control" style="width: 580px;" name="email" required>
            </div>
            <button type="submit" class="button_color py-1 px-2" style="border-radius: 10px;">Submit</button>
            <br>
            <br>
        </div>
        
    </form>
    <br>
</div>

{% endblock %}